@import "tailwindcss";

@theme {
  --color-brand-primary: #10b981;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #1a1a1a;
  color: #ffffff;
}